# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
*.xcworkspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Misc
*.log
secrets.xcconfig
*.env
